body {
    margin: 0;
    font-family: 'Saira Extra Condensed', sans-serif;
}


.flx1 {
    flex : 1;
}
.icon {
    width: 45px;
    height: 45px;
}


.container {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    flex: 1;
    display: flex;
}



.side-bar-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 300px;
}





.card-container {
    /* border: 1px solid blue; */
    flex: 1;
}

.add-btn {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}


.card-list {
    display: flex;
    flex-wrap: wrap;
}




footer {
    height: 50px;
    background-color: rgb(16,16,16);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}