body {
    margin: 0;
    font-family: 'Saira Extra Condensed', sans-serif;
}
.flx1 {
    flex : 1;
}
.icon {
    width: 50px;
    height: 50px;
}
.txt1 {
    color: white;
    font-size: 30px;
}

.card1 {
    background-color: rgb(16,16,16);
    border-radius: 16px;
    margin: 10px;
    padding: 20px;
}

.card-title {
    display: flex;
    justify-content: space-between;
}

.container {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    flex: 1;
    display: flex;
}



.side-bar-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 300px;
    
}





.card-container {
    /* border: 1px solid blue; */
    flex: 1;
}

.add-btn {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}



footer {
    height: 50px;
    background-color: rgb(32,32,32);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}